<div class="home-placeholder">
  <div class="card">
    <div class="card-body">
      <h3>{{ '::Dashboard:WelcomeHeading' | abpLocalization }}</h3>
      <p class="text-muted mb-4">{{ '::Dashboard:Placeholder' | abpLocalization }}</p>
      <div class="d-flex gap-2">
        <a routerLink="/books" class="btn btn-primary">
          <i class="fas fa-book me-1"></i>{{ '::Menu:Books' | abpLocalization }}
        </a>
        <a routerLink="/authors" class="btn btn-primary soft">
          <i class="fas fa-user-edit me-1"></i>{{ '::Menu:Authors' | abpLocalization }}
        </a>
      </div>
    </div>
  </div>
</div>
