.eks-branch-icon {
  flex-shrink: 0;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.75rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--eks-primary-subtle-bg);
  color: var(--eks-primary-subtle-fg);
}
